
*.mp4

*.xccheckout

bin/autoRotoScopeDebug.app/Contents/MacOS/autoRotoScopeDebug

bin/autoRotoScopeDebug.app/Contents/MacOS/autoRotoScopeDebug

*.xccheckout

autoRotoScope.xcodeproj/project.xcworkspace/xcshareddata/autoRotoScope.xccheckout

bin/autoRotoScopeDebug.app/Contents/MacOS/autoRotoScopeDebug

*.xcuserstate

bin/data/ofxarpipe0

bin/data/ofxvrpipe0

autoRotoScope.xcodeproj/project.xcworkspace/xcuserdata/ceburger.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

autoRotoScope.xcodeproj/project.xcworkspace/xcuserdata/ceburger.xcuserdatad/UserInterfaceState.xcuserstate
